@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.baner {
  height: 20rem;
  border: 1px solid black;
}

.baner__portada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px auto;
  height: 300px;
  background-image: url(https://media.istockphoto.com/id/1366798987/es/foto/interior-de-un-aula-escolar-tradicional-con-suelo-de-madera-y-mobiliario.jpg?s=612x612&w=0&k=20&c=UjxRIIkRJ6sB0DRXPxAHfvZi4HuSpgiNuEyoOzRkn_Q=);
  background-repeat: no-repeat;
  background-size: cover;
}

.somos {
  border: 1px solid black;
}

.somos__colum {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.somos__parrafo {
  font-size: 0.9rem;
  font-family: "Belanosima", sans-serif;
  text-align: center;
  margin-top: 1px;
}

.container-fluid .elegirnos {
  border: 1px solid black;
}

.elegirnos__titulo {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.elegirnos__parrafo {
  font-size: 0.9rem;
  font-family: "Belanosima", sans-serif;
}

.noticias__titulo h2 {
  text-align: center;
  margin-top: 5px;
}

.noticias__contenidos h3 {
  text-align: center;
}

.noticias__contenidos p {
  text-align: center;
}

.propuesta {
  border: 1px solid black;
}
.propuesta h3 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.hexa__img {
  position: relative;
  background-color: black;
  width: 100%;
  height: 90%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexa p {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Belanosima", sans-serif;
}

.nav-item a {
  font-family: "Poppins", sans-serif;
}

.nav-link.fs-propio {
  font-size: 14px;
}

.redes__lista span {
  display: none;
}

.contacto__lista span {
  display: none;
}

.redes__titulo {
  text-align: center;
  font-size: 0.8rem;
}

.redes__social {
  position: relative;
  left: -10px;
  list-style: none;
}

.ubicacion__titulo {
  font-size: 0.8rem;
}

.ubicación__lista {
  position: relative;
  left: -15px;
  list-style: none;
}

.ubicación__map iframe {
  display: none;
}

.contacto__nos {
  position: relative;
  left: -10px;
  list-style: none;
}

.contacto__titulo {
  font-size: 0.8rem;
}

.btn.btn-enviar {
  color: #EFF5F5;
  background-color: #1F8A70;
}

.form-floating {
  height: 250px;
}

.form-control.comentario {
  min-height: 250px;
}

.fomulario.container-fluid.mt-2 {
  width: 90%;
  max-width: 550px;
}

@media (min-width: 768px) {
  .nav-link {
    color: #EFF5F5;
  }
  .nav-link.fs-propio {
    font-size: 14px;
  }
  .navbar-brand.fs-propio {
    font-size: 28px;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex;
    justify-content: end;
  }
  .somos__parrafo {
    font-size: 16px;
  }
  .somos__colum {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  .elegirnos__parrafo {
    font-size: 16px;
  }
  .elegirnos__titulo {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .propuesta__titulo h3 {
    font-size: 1.5rem;
  }
  .hexa p {
    font-size: 16px;
  }
  .hexa__img {
    height: 80%;
  }
  .noticias__titulo h2 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  .noticias__contenidos h3 {
    font-size: 1.1rem;
  }
  .noticias__contenidos h3p {
    font-size: 16px;
    font-family: "Belanosima", sans-serif;
  }
  .redes__lista span {
    display: inline-block;
  }
  .redes__titulo {
    text-align: center;
  }
  .ubicacion__titulo {
    text-align: start;
  }
}/*# sourceMappingURL=style.css.map */