.redes__lista span{
    display: none;
    color: $color-dark;
}
.redes__lista{
    position: relative;
    left:-30px;
}
.redes__titulo{
    text-align:start;
    font-size:$font-size-titulo-footer-320;
}
.redes__social{
    gap: 10px;
    list-style: none;
}
.ubicacion__titulo{
    font-size: $font-size-titulo-footer-320;
}
.ubicación__lista{
    position: relative;
    left: -15px;
    list-style: none;
    }
.ubicación__map span{
    display:none ;
    color: $color-dark;
}
.ubicación__map iframe{
    display: none;
}
.contacto__nos{
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}
.contacto__titulo{
    text-align:start;
    font-size: $font-size-titulo-footer-320;
    color:$color-dark ;  
}
.contacto__lista span{
    display: none;
    color: $color-dark;
}



    


