footer{
    margin: 2px;

}
.redes__lista span{
    display: none;
}

.redes__titulo{
   text-align: center;
    font-size:$font-size-titulo-footer-320;
}
.redes__social{
    position: relative;
    left: -10px;
    list-style: none;
}

.ubicacion__titulo{
    
     font-size: $font-size-titulo-footer-320;
}
.ubicación__lista{
    position: relative;
    left: -15px;
    list-style: none;
    }
.ubicación__map span{
    display:none ;
}
.ubicación__map iframe{
    display: none;
}
.contacto__nos{
    position: relative;
    left:-10px;
    list-style: none;
    
}
.contacto__titulo{
    font-size: $font-size-titulo-footer-320;  
}
.contacto__lista span{
    display: none;
}



    


