.nav-item a{
font-family: 'Poppins', sans-serif;

   }
   .nav-link.fs-propio {
    font-size: 14px;
   }
   .somos__parrafo{
      font-size: 14px;
      font-family: 'Belanosima', sans-serif;
      text-align:center;
      margin-top: 1px;
   }