$color-primary:#FC7300;
$color-secundary:#1F8A70;
$color-terceary:#00425A;
$color-dark:#181823;
$color-ligth:#EFF5F5;

$font-size-titulo-320:1.2rem;
$font-size-parrafo-320:0.9rem;

$font-size-titulo-768:1.5rem;
$font-size-parrafo-768:16px;
