.btn.btn-enviar{
    color:$color-ligth;
    background-color:$color-secundary;
}
.form-floating{
    height: 250px;
}
.form-control.comentario{
    min-height: 250px;
    
    
    
}
.fomulario.container-fluid.mt-2{
    width: 90%;
    max-width: 550px;


}

