.noticias__titulo h2{
        text-align: center;
        text-decoration: underline;
        margin-top: 5px;
        color: $color-primary;
        font-size:$font-size-titulo-320;
}
.noticias__contenidos h3{
    text-align: center;
    font-size: $font-size-titulo-320;
    }
.noticias__contenidos p{
    text-align: center;
    font-size:$font-size-parrafo-320;
    color: $color-terceary;
    margin-bottom: 2rem;
}   