.propuesta h3{
        text-align: center;
        text-decoration: underline;
        font-size: $font-size-titulo-320;
        font-family:'Poppins', sans-serif; 
        color: $color-primary;

    }
    .propuesta__titulo{
        margin-bottom: 3rem;
    }

.hexa__img{
    position:relative;
    background-color:$color-secundary;
    width: 100%;
    height: 90%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
   }
.hexa p{
    text-align: center;
    font-size: $font-size-parrafo-320;
    font-family: 'Belanosima', sans-serif;
    color:$color-terceary ;
}
