@media(min-width:768px) {
    .nav-link {

        color: $color-ligth;
    }

    .nav-link.fs-propio {
        font-size: 14px;
    }

    .navbar-brand.fs-propio {
        font-size: 28px;
    }
    
    .navbar-expand-md .navbar-collapse{
        display: flex;
        justify-content: end;
    }
    .somos__parrafo{
        font-size:$font-size-parrafo-768;
    }
    .somos__colum {
        font-size:$font-size-titulo-768;
        font-family: 'Poppins', sans-serif;
        
    }
    .elegirnos__parrafo{
        font-size:$font-size-parrafo-768;
    }
    .elegirnos__titulo{
        font-size:$font-size-titulo-768;
        margin-bottom: 5px;
    }
    .propuesta__titulo h3{
        font-size: $font-size-titulo-768;
    }
    .hexa p{
        font-size:$font-size-parrafo-768;
        
    } 
    .hexa__img{
            height: 80%;
    }
    .noticias__titulo h2{
        font-size:$font-size-titulo-768; 
        font-family: 'Poppins', sans-serif;
    }
    .noticias__contenidos h3{
        font-size:$font-size-subtitulo-768;
           &p{
            font-size: $font-size-parrafo-768;
            font-family: 'Belanosima', sans-serif;
        
            }
    }
    .redes__lista span{
        display: inline-block;
    }
    .redes__titulo{
        text-align:center;
    

    }
    .ubicacion__titulo{
        text-align: start;
        
    }
    

    }
    
        
    
    



    
